.wrapper {
  background-color: #fff;
  border: none;
  border-radius: 6px;
  padding: 16px 24px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  text-align: left;
}

.wrapper.expand {
  cursor: auto;
}

.wrapper .header {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 9, 40, 30%)
}

.content {
  white-space: pre-line;
  color: rgba(0, 9, 40, 87%);
  font-size: 18px;
  line-height: 36px;
  overflow: hidden;
  height: 216px;
}

.expand {
  height: unset;
}

.hint {
  color: rgba(0, 9, 40, 30%);
  font-size: 18px;
  line-height: 36px;
}